<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
	<typeAliases>
		<typeAlias type="com..DTO.AnswerDTO" alias="answerDTO" />
		<typeAlias type="com..DTO.BoardDTO" alias="boardDTO" />
		<typeAlias type="com..DTO.CartDTO" alias="cartDTO" />
		<typeAlias type="com..DTO.CategoryDTO" alias="categoryDTO" />
		<typeAlias type="com..DTO.ChatDTO" alias="chatDTO" />
		<typeAlias type="com..DTO.BoardCommentDTO" alias="boardCommentDTO" />
		<typeAlias type="com..DTO.CouponDTO" alias="couponDTO" />
		<typeAlias type="com..DTO.FaqDTO" alias="faqDTO" />
		<typeAlias type="com..DTO.NoticeDTO" alias="noticeDTO" />
		<typeAlias type="com..DTO.NoticeCommentDTO" alias="noticeCommentDTO" />
		<typeAlias type="com..DTO.OrderDTO" alias="orderDTO" />
		<typeAlias type="com..DTO.ProductDTO" alias="productDTO" />
		<typeAlias type="com..DTO.QuestionDTO" alias="questionDTO" />
		<typeAlias type="com..DTO.ReviewDTO" alias="reviewDTO" />
		<typeAlias type="com..DTO.UserDTO" alias="userDTO" />
		<typeAlias type="com..DTO.LoginDTO" alias="loginDTO" />
		<typeAlias type="com..DTO.PageDTO" alias="pageDTO"/>
		<typeAlias type="com..DTO.FaqCategoryDTO" alias="faqCategoryDTO"/>
	</typeAliases>
  </configuration>